defaults:
- data: zarr
- dataloader: native_grid
- datamodule: single
- diagnostics: evaluation
- hardware: slurm
- graph: stretched_grid
- model: graphtransformer
- training: default
- _self_

config_validation: True

data:
  forcing:
    - cos_latitude
    - sin_latitude
    - cos_longitude
    - sin_longitude
    - cos_julian_day
    - sin_julian_day
    - cos_local_time
    - sin_local_time
    - cos_solar_zenith_angle
    - land_sea_mask
    - orography
  diagnostic:
    - total_precipitation_6hr
  normalizer:
    default: mean-std
    std:
      - total_column_water
      - total_precipitation_6hr
      - specific_humidity_100
      - specific_humidity_150
      - specific_humidity_200
      - specific_humidity_250
      - specific_humidity_300
      - specific_humidity_400
      - specific_humidity_500
      - specific_humidity_600
      - specific_humidity_700
      - specific_humidity_850
      - specific_humidity_925
      - specific_humidity_1000
    max:
      - orography
    none:
      - cos_latitude
      - sin_latitude
      - cos_longitude
      - sin_longitude
      - cos_julian_day
      - sin_julian_day
      - cos_local_time
      - sin_local_time
      - cos_solar_zenith_angle
      - land_sea_mask

dataloader:
  read_group_size: 1
  batch_size:
    training: 1
    validation: 1
    test: 1
  num_workers:
    training: 4
    validation: 4
    test: 4
  dataset:
    cutout:
      # LAM
      - dataset: ${hardware.paths.data}/${hardware.files.lam_training}
      # Global forcing
      - dataset: ${hardware.paths.data}/${hardware.files.global_training}
    adjust: all
    min_distance_km: 1
  training:
    start: 2009
    end: 2017
  validation:
    dataset:
      cutout:
        # LAM
        - dataset: ${hardware.paths.data}/${hardware.files.lam_validation}
        # Global forcing
        - dataset: ${hardware.paths.data}/${hardware.files.global_validation}
      adjust: all
      min_distance_km: 1
    start: 2018
    end: 2019
  test:
    dataset:
      cutout:
        # LAM
        - dataset: ${hardware.paths.data}/${hardware.files.lam_validation}
        # Global forcing
        - dataset: ${hardware.paths.data}/${hardware.files.global_validation}
      adjust: all
      min_distance_km: 1
    start: 2018
    end: 2019

diagnostics:
  log:
    mlflow:
      enabled: True
      offline: False
      authentication: False
      log_model: False
      tracking_uri: null
      experiment_name: 'Nested-ERA5-v0'
      project_name: 'Nested-EAGLE'
      use_azure: True
      aml_resource_group: "PSL-PMP-ML"
      aml_workspace_name: "psl-ml-workspace"
      system: True
      terminal: True
      run_name: null # If set to null, the run name will be the a random UUID
      on_resume_create_child: True
      expand_hyperparams: # Which keys in hyperparams to expand
        - config
      http_max_retries: 35
    wandb:
      entity: null
  plot:
    frequency:
      batch: 30_000
      epoch: 5
    parameters:
      - geopotential_500
      - temperature_850
      - u_component_of_wind_850
      - v_component_of_wind_850
      - 2m_temperature
      - 10m_u_component_of_wind
      - 10m_v_component_of_wind
      - surface_pressure
      - total_precipitation_6hr
    precip_and_related_fields: [total_precipitation_6hr]
    callbacks:
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotLoss
        parameter_groups:
          moisture: [total_precipitation_6hr, total_column_water]
          sfc_wind: [10m_u_component_of_wind, 10m_v_component_of_wind]
        every_n_batches: ${diagnostics.plot.frequency.batch}
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotSample
        sample_idx: ${diagnostics.plot.sample_idx}
        per_sample : 6
        parameters: ${diagnostics.plot.parameters}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        #Defining the accumulation levels for precipitation related fields and the colormap
        accumulation_levels_plot: [0, 0.05, 0.1, 0.25, 0.5, 1, 1.5, 2, 3, 4, 5, 6, 7, 100] # in mm
        precip_and_related_fields: ${diagnostics.plot.precip_and_related_fields}
        colormaps: ${diagnostics.plot.colormaps}
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotSpectrum
        sample_idx: ${diagnostics.plot.sample_idx}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        parameters:
        - geopotential_500
        - total_precipitation_6hr
        - 2m_temperature
        - 10m_u_component_of_wind
        - 10m_v_component_of_wind
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotHistogram
        sample_idx: ${diagnostics.plot.sample_idx}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        precip_and_related_fields: ${diagnostics.plot.precip_and_related_fields}
        parameters:
        - geopotential_500
        - total_precipitation_6hr
        - 2m_temperature
        - 10m_u_component_of_wind
        - 10m_v_component_of_wind

graph:
  overwrite: False
  nodes:
    hidden:
      node_builder:
        _target_: anemoi.graphs.nodes.StretchedTriNodes
        lam_resolution: 7 #???
        global_resolution: 5 #???
        reference_node_name: ${graph.data}
        mask_attr_name: cutout_mask

hardware:
  num_gpus_per_model: 2
  paths:
    data: ${oc.decode:${oc.env:SCRATCH}}/nested-eagle/phase-1/data
    graph: ${oc.decode:${oc.env:SCRATCH}}/nested-eagle/phase-1/v0/
    output: ${oc.decode:${oc.env:SCRATCH}}/nested-eagle/phase-1/v0/mmgt-10percent-train9yr/training-output/
  files:
    graph: conus_0.25deg_7.global_1deg_5.pt
    lam_training: conus.training.zarr
    global_training: global.training.zarr
    lam_validation: conus.validation.zarr
    global_validation: global.validation.zarr

model:
  num_channels: 512 #???
  bounding:
    - _target_: anemoi.models.layers.bounding.ReluBounding #[0, infinity)
      variables:
      - total_column_water
      - total_precipitation_6hr
      - specific_humidity_100
      - specific_humidity_150
      - specific_humidity_200
      - specific_humidity_250
      - specific_humidity_300
      - specific_humidity_400
      - specific_humidity_500
      - specific_humidity_600
      - specific_humidity_700
      - specific_humidity_850
      - specific_humidity_925
      - specific_humidity_1000

training:
  max_steps: 30_000
  # LR = local_rate * num_gpus_per_node * num_nodes / gpus_per_model
  #    = local_rate * total_gpus / gpus_per_model
  lr:
    warmup: 1000
    rate: 0.625e-4
    iterations: ${training.max_steps}
    min: 3e-7
  variable_loss_scaling:
    default: 1
    pl:
      specific_humidity: 0.6
      temperature: 6
      u_component_of_wind: 0.8
      v_component_of_wind: 0.5
      vertical_velocity: 0.001
      geopotential: 12
    sfc:
      surface_pressure: 10
      10m_u_component_of_wind: 0.1
      10m_v_component_of_wind: 0.1
      total_precipitation_6hr: 0.025
      total_column_water: 1.
  metrics:
    - geopotential_500
    - temperature_850
    - u_component_of_wind_850
    - v_component_of_wind_850
  pressure_level_scaler:
    _target_: anemoi.training.data.scaling.NoPressureLevelScaler
    minimum: 1.
    slope: 0.
  node_loss_weights:
    _target_: anemoi.training.losses.nodeweights.ReweightedGraphNodeAttribute
    target_nodes: ${graph.data}
    node_attribute: area_weight
    scaled_attribute: cutout_mask
    weight_frac_of_total: 0.5 #???
