defaults:
- data: zarr
- dataloader: native_grid
- datamodule: single
- diagnostics: evaluation
- hardware: example
- graph: stretched_grid
- model: graphtransformer
- training: default
- _self_

config_validation: True

data:
  forcing:
    - cos_latitude
    - sin_latitude
    - cos_longitude
    - sin_longitude
    - cos_julian_day
    - sin_julian_day
    - cos_local_time
    - sin_local_time
    - insolation
    - lsm
    - orog
  diagnostic:
    - accum_tp
    - u80
    - v80
  normalizer:
    default: mean-std
    std:
      - accum_tp
      - q_100
      - q_150
      - q_200
      - q_250
      - q_300
      - q_400
      - q_500
      - q_600
      - q_700
      - q_850
      - q_925
      - q_1000
    max:
      - orog
    none:
      - cos_latitude
      - sin_latitude
      - cos_longitude
      - sin_longitude
      - cos_julian_day
      - sin_julian_day
      - cos_local_time
      - sin_local_time
      - insolation
      - lsm

dataloader:
  batch_size:
    training: 1
    validation: 1
    testing: 1
  dataset:
    cutout:
      # LAM
      - join:
        - dataset: ${hardware.paths.data}/${hardware.files.lam_analysis}
        - dataset: ${hardware.paths.data}/${hardware.files.lam_forecast}
      # Global forcing
      - join:
        - dataset: ${hardware.paths.data}/${hardware.files.global_analysis}
        - dataset: ${hardware.paths.data}/${hardware.files.global_forecast}
    adjust: all
    min_distance_km: 0
  training:
    start: 2015-02-01T06
    end: 2023-01-31T18
  validation:
    start: 2023-02-01T00
    end: 2024-01-31T18
  test:
    start: 2023-02-01T00
    end: 2024-01-31T18

diagnostics:
  plot:
    frequency:
      batch: 30_000
      epoch: 5
    parameters:
      - gh_500
      - t_850
      - u_850
      - v_850
      - t2m
      - sh2
      - u10
      - v10
      - sp
      - accum_tp
    precip_and_related_fields: [accum_tp]
    callbacks:
      - _target_: anemoi.training.diagnostics.callbacks.plot.GraphTrainableFeaturesPlot
        every_n_epochs: ${diagnostics.plot.frequency.epoch}
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotLoss
        parameter_groups:
          moisture: [accum_tp]
          sfc_wind: [u10, v10]
        every_n_batches: ${diagnostics.plot.frequency.batch}
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotSample
        sample_idx: ${diagnostics.plot.sample_idx}
        per_sample : 6
        parameters: ${diagnostics.plot.parameters}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        #Defining the accumulation levels for precipitation related fields and the colormap
        accumulation_levels_plot: [0, 0.05, 0.1, 0.25, 0.5, 1, 1.5, 2, 3, 4, 5, 6, 7, 100] # in mm
        precip_and_related_fields: ${diagnostics.plot.precip_and_related_fields}
        colormaps: ${diagnostics.plot.colormaps}
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotSpectrum
        sample_idx: ${diagnostics.plot.sample_idx}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        parameters:
        - gh_500
        - accum_tp
        - t2m
        - u10
        - v10
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotHistogram
        sample_idx: ${diagnostics.plot.sample_idx}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        precip_and_related_fields: ${diagnostics.plot.precip_and_related_fields}
        parameters:
        - gh_500
        - accum_tp
        - t2m
        - u10
        - v10

hardware:
  num_gpus_per_model: 1
  paths:
    data: ${oc.decode:${oc.env:SCRATCH}}/nested-eagle/v0/data
    graph: ${oc.decode:${oc.env:SCRATCH}}/nested-eagle/v0/
    output: ${oc.decode:${oc.env:SCRATCH}}/nested-eagle/v0/
  files:
    lam_analysis: hrrr.analysis.zarr
    lam_forecast: hrrr.forecast.zarr
    global_analysis: gfs.analysis.zarr
    global_forecast: gfs.forecast.zarr

graph:
  nodes:
    hidden:
      node_builder:
        lam_resolution: 7
        global_resolution: 5
        margin_radius_km: 11 #???

training:
  node_loss_weights:
    _target_: anemoi.training.losses.nodeweights.ReweightedGraphNodeAttribute
    target_nodes: ${graph.data}
    node_attribute: area_weight
    scaled_attribute: cutout_mask
    weight_frac_of_total: 0.5 #???
